[data-title-animation] {
  opacity: 0;
  > span {
    span {
      transform: translateY(40px);
      opacity: 0;
      transition-property: opacity, transform;
    }
  }
  &.is-visible {
    opacity: 1;
    > span {
      span {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

[data-isvisible] {
  opacity: 0;
  transform: translateY(40px);
  transition: transform 2.6s ease, opacity 2.6s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0px);
  }
}
