/* =========================================
		Color Index
   ========================================= */
/**
 * Prefix colors with $c_ this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

$c_black: #1a2531;
$c_orange: #ff914d;
$pink: #ff66c4;
$c_yellow: #ffd400;
$c_gray_dark: #333;
$c_gray: #9E9A9A;
$c_gray_light: #efefef;
$c_white: #fff;

$c_beige: #f1e9e7;

//
// $c_black: #191919;
// $c_black-light: #5a5a5a;
//
// $c_white: #ffffff;
//
// $c_blue: #346281;
// $c_blue-light: #8cbccb;
// $c_blue-alter: #95B7CE;

$c_magenta: #c14646;
$c_orange: #d67f46;
$c_green: #48D597;
$c_red: #c14646;
$c_gray_light: #9E9A9A;
$c_gray: #9E9A9A;

$c_test_background: #4e7986;
$c_blue: #1a2531;
$c_orange: #ff914d;
$c_pink: #ff66c4;
$c_blue_light: #3f516b;