$w_mobile: '400px';
$w_tablet: '600px';
$w_laptop: '900px';
$w_desktop: '1200px';
$w_wide: '1400px';

$b_mobile: '(min-width: 400px)';

$b_tablet: '(min-width: 600px)';

$b_laptop: '(min-width: 900px)';

$b_desktop: '(min-width: 1200px)';